<%= div_for comment do %>
<p>
	<%= comment.body %> <br>
	<strong> <%= comment.user.email %> </strong> posted <br>
	<%= time_ago_in_words(comment.created_at) %> ago <br>
<% end %>
</p>

<p>
<%= pluralize comment.votes, "vote" %>

<% if current_user && current_user.can_vote_for?(comment) %>
	<%= link_to (image_tag "like.jpg", size: "20"), vote_path(comment, value: 1), method: "post", remote: true %>
	<%= link_to (image_tag "dislike.jpg", size: "20"), vote_path(comment, value: -1), method: "post", remote: true %>
<% end %>
</p>